<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ankit Kumar Mitra</title>
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/styles/style.css">
</head>

<body>
    <div class="navbar blur">
        <div class="logo">
            <img src="images/logo1.png">
        </div>
        <div class="navbar-items">
            <ul class="navbar-options">
                <li class="theme item"><a href="#"><i class="theme-icon fa-solid fa-moon"></i></a></li>
                <li class="item">
                    <a href="https://www.linkedin.com/in/ankit-kumar-mitra-66a27a252/" target="_blank">
                        <i class="fa-brands fa-linkedin-in"></i>
                    </a>
                </li>
                <li class="item">
                    <a href="https://github.com/AnkitKumarMitra" target="_blank">
                        <i class="fa-brands fa-github"></i>
                    </a>
                </li>
                <li class="item">
                    <a href="mailto:mitraankit12@gmail.com" target="_blank">
                        <i class="fa-regular fa-envelope"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="landing blur">
        <div class="information-container">
            <h1>Ankit Kumar Mitra</h1>
            <p>Full Stack Web Developer.</p>
            <button class="info-btn">About Me</button>
        </div>
        <img src="images/lander_img2.png" class="landing-img">
    </div>
    <div id="popup">
        <div class="popup-left">
            <h2>Hello My Name is Ankit Kumar Mitra</h2>
            <p>
                Hello! I'm a full-stack developer with expertise in HTML, CSS, JavaScript, Node.js, and Express. My
                focus is on creating intuitive user interfaces and architecting scalable back-end systems. Committed to
                staying current with industry trends, I bring a blend of creativity and technical proficiency to every
                project. Whether optimizing database performance or solving complex coding challenges, I'm dedicated to
                delivering efficient and user-centric solutions. Let's collaborate to transform ideas into digital
                success!
            </p>
            <button class="info-btn back-btn">Back</button>
        </div>
        <div class="vertical-line-popup"></div>
        <img src="images/programmer-vector.png" width="200px">
    </div>
    <div class="projects-container">
        <h1>My Projects</h1>


        
        <div class="project-card project-1">
            <a href="https://github.com/AnkitKumarMitra/Anime-Database" target="_blank"><img src="images/project-1.png"
                    alt="" class="project-img"></a>
            <div class="project-info">
                <h3>The Anime Database</h3>
                <p>The Anime Database: A comprehensive hub for anime enthusiasts, offering a one-stop solution for
                    discovering, tracking, and exploring anime content. Your ultimate destination for all things
                    anime-related.</p>
                <div class="stacks">
                    <p>HTML</p>
                    <p>CSS</p>
                    <p>JavaScript</p>
                    <p>NodeJs</p>
                    <p>Express</p>
                    <p>Restful APIs</p>
                    <p>PostgreSQL</p>
                    <p>EJS</p>
                </div>
            </div>
        </div>
        <div class="project-card project-2">
            <a href="https://github.com/AnkitKumarMitra/Simple-Bloggin-Website" target="_blank"><img
                    src="images/project-2.png" alt="" class="project-img"></a>
            <div class="project-info">
                <h3>Simple Blogging Website</h3>
                <p>TExperience a minimalist blogging haven crafted from scratch! This user-friendly website, built with
                    HTML, CSS, and JavaScript for the frontend and Node.js for the backend, ensures seamless content
                    creation. Offering clean aesthetics and user authentication, it prioritizes readability and
                    functionality. Embrace a distraction-free space where expressing ideas is a joy. Dive into the
                    simplicity of this bespoke blogging platform, designed for both writers and readers to relish
                    effortlessly!</p>
                <div class="stacks">
                    <p>HTML</p>
                    <p>CSS</p>
                    <p>JavaScript</p>
                    <p>NodeJs</p>
                    <p>Express</p>
                    <p>Restful APIs</p>
                    <p>EJS</p>
                </div>
            </div>
        </div>
        <div class="project-card project-3">
            <a href="https://github.com/AnkitKumarMitra/Simple-To-Do-List" target="_blank"><img
                    src="images/project-3.png" alt="" class="project-img"></a>
            <div class="project-info">
                <h3>Simple To-Do list</h3>
                <p>A straightforward todo list app made with HTML, CSS, and JavaScript on the
                    front-end and back-end by Node.js with a database PostgreSQL, this app is designed for easy task
                    organization. Enjoy a simple, clean interface and efficient task management. Your to-dos, simplified
                    and accessible with a click. Boost your productivity effortlessly with this user-friendly todo list
                    app!</p>
                <div class="stacks">
                    <p>HTML</p>
                    <p>CSS</p>
                    <p>JavaScript</p>
                    <p>NodeJs</p>
                    <p>Express</p>
                    <p>PostgreSQL</p>
                    <p>EJS</p>
                </div>
            </div>
        </div>
    </div>
    <div class="contact">
        <h1>Lets Connect</h1>
        <div class="contact-body">
            <img src="images/messaging.png">
            <form action="/contact" method="post" class="contact-form">
                <input type="email" name="email" autocomplete="off" placeholder="Enter your email address"
                    class="input-field">
                <input type="text" name="subject" autocomplete="off" placeholder="Subject" class="input-field">
                <textarea name="message" autocomplete="off" placeholder="Message"
                    class="input-field message-area"></textarea>
                <% if(locals.msg) {%>
                    <p class="msg">
                        <%= msg %>
                    </p>
                    <% } %>
                        <button type="submit" class="submit-btn">Send</button>
            </form>
        </div>
        <footer>
            <p>Ankit Kumar Mitra &copy; <%= new Date().getFullYear() %>
            </p>
            <img src="images/logo.png">
            <div class="icon-container">
                <a href="https://www.linkedin.com/in/ankit-kumar-mitra-66a27a252/" target="_blank">
                    <i class="fa-brands fa-linkedin-in contact-icon"></i>
                </a>
                <a href="https://github.com/AnkitKumarMitra" target="_blank">
                    <i class="fa-brands fa-github contact-icon"></i>
                </a>
                <a href="mailto:mitraankit12@gmail.com" target="_blank">
                    <i class="fa-regular fa-envelope contact-icon"></i>
                </a>
            </div>

        </footer>
    </div>
    <script src="/scripts/app.js"></script>
</body>

</html>